<div class="container">
  <div class="row">
    <div class="col-">
      <h1>Our Locations</h1>
    </div>
    <div class="col-sm">
      <%= link_to "Add New", new_location_path, class: "badge badge-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-">
      <ul>
        <% @locations.each do |location| %>
          <li><%= link_to location.name, location %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
